<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Home</title>
        <link
            type="text/css"
            rel="stylesheet"
            href="/home.module.css"
        >
    </head>
    <body>
        <main class="home">
          <nav class="navigation">
              <div class="logo">
                  LOGO
              </div>
              <ul class="menu">
                  <li class="active">Home</li>
                  <li>About</li>
                  <li>{{user}}</li>
              </ul>
          </nav>
          <div class="login-form">
              <h1>Please, sign in!</h1>
              <form class="sign-in-form">
                  <div class="login-input">
                      <label>Username</label>
                      <label>
                          <input
                                  placeholder="Enter your username"
                          >
                      </label>
                  </div>
                  <div class="login-input">
                      <label>Password</label>
                      <label>
                          <input
                                  placeholder="Enter your password"
                          >
                      </label>
                  </div>
                  <div class="login-btn">
                      <button>
                          Login
                      </button>
                  </div>
                  <div class="if-no-account-text">
                      <span> Don&apos;t have an account? </span>
                      <button>
                          Sign Up
                      </button>
                  </div>
              </form>
          </div>
        </main>
    </body>
</html>
